@import './variables.scss';

#root {
  > div {
    z-index: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;

    > section,
    > main {
      min-height: calc(100vh - (90px + 244px));
    }
  }
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: var(--font-primary);
  background: #f9fafb;
  scroll-behavior: smooth;

  a {
    text-decoration: none;
  }
}

/* ==================== RESET BROWSER ==================== */

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  border: none;
  font-size: 1rem;
  text-decoration: none;
  color: var(--cyan-70);
}

img {
  height: auto;
  max-height: 100%;
}

p,
li {
  margin: 0;
  font-family: sans-serif, var(--font-secondary);
  font-weight: 400;
  font-size: var(--type-scale-30);
  line-height: 1.5;
  color: var(--grey-90);
}

#__next {
  width: 100%;
}
