:root {
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --u-info: var(--blue-50);
  --u-info-hover: var(--blue-70);
  --u-info-tint: var(--blue-30);
  --u-info-shade: var(--blue-80);
  --u-success: var(--green-40);
  --u-success-hover: var(--green-50);
  --u-success-tint: var(--green-30);
  --u-success-shade: var(--green-60);
  --u-warning: var(--orange-50);
  --u-warning-hover: var(--orange-70);
  --u-warning-tint: var(--orange-30);
  --u-warning-shade: var(--orange-80);
  --u--destructive: var(--red-50);
  --u--destructive-hover: var(--red-70);
  --u--destructive-tint: var(--red-40);
  --u--destructive-shade: var(--red-80);
  --u-links: #3986bd;
  --u-white: #fff;
  --space-xxs: calc(var(--spaceScale-unit) * 0.25);
  --space-xs: calc(var(--spaceScale-unit) * 0.5);
  --space-s: calc(var(--spaceScale-unit) * 0.75);
  --space: var(--spaceScale-unit);
  --space-m: calc(var(--spaceScale-unit) * 1.25);
  --space-l: calc(var(--spaceScale-unit) * 2);
  --space-xl: calc(var(--spaceScale-unit) * 3.25);
  --space-xl-64: calc(var(--spaceScale-unit) * 4);
  --space-xxl: calc(var(--spaceScale-unit) * 5.25);
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
  --shadow-right: 4px 0 8px 0 rgba(0, 0, 0, 0.14);
  --typeScale-unit: 1rem;
  --spaceScale-unit: 1rem;
  --border-radius: var(--space-xxs);
  --brand-dark-blue-tint: #033c54;
  --brand-dark-blue: #022a3b;
  --brand-dark-blue-shadow: #011c27;
  --brand-blue-tint: #3bf;
  --brand-green: #5AE579;
  --brand-blue-shadow: #08c;
  --brand-blue-darker-shadow: #006fa6;
  --brand-orange-tint: #ff7429;
  --brand-orange: #ff5a00;
  --brand-orange-shadow: #e65100;
  --brand-yellow-tint: #ffce33;
  --brand-yellow: #ffc200;
  --brand-yellow-shadow: #e6af00;
  --violet-100: #361e67;
  --violet-90: #3e2277;
  --violet-80: #49288a;
  --violet-70: #5e34b2;
  --violet-60: #6a40bf;
  --violet-50: #7953c6;
  --violet-40: #9779d2;
  --violet-30: #b5a0df;
  --violet-20: #d2c6ec;
  --violet-10: #f0ecf9;
  --purple-100: #632b6e;
  --purple-90: #773384;
  --purple-80: #843a92;
  --purple-70: #9440a5;
  --purple-60: #a548b7;
  --purple-50: #ae5abe;
  --purple-40: #c07fcd;
  --purple-30: #d2a3db;
  --purple-20: #e4c8e9;
  --purple-10: #f6edf8;
  --red-100: #a51104;
  --red-90: #bd1405;
  --red-80: #c71505;
  --red-70: #e01806;
  --red-60: #ff1500;
  --red-50: #ff291a;
  --red-40: #ff5b4d;
  --red-30: #ff8a80;
  --red-20: #ffb9b3;
  --red-10: #ffe8e5;
  --orange-100: #a53d03;
  --orange-90: #bd4604;
  --orange-80: #d64f05;
  --orange-70: #e65100;
  --orange-60: #ff5a00;
  --orange-50: #ff6b1a;
  --orange-40: #ff8c4d;
  --orange-30: #ffad80;
  --orange-20: #ffceb3;
  --orange-10: #ffefe6;
  --yellow-100: #8d6c01;
  --yellow-90: #b18702;
  --yellow-80: #c89904;
  --yellow-70: #e0ac05;
  --yellow-60: #f9bf06;
  --yellow-50: #ffc81a;
  --yellow-40: #ffd44d;
  --yellow-30: #ffe180;
  --yellow-20: #ffedb3;
  --yellow-10: #fff9e6;
  --green-100: #0c452e;
  --green-90: #105b3c;
  --green-80: #136c47;
  --green-70: #178255;
  --green-60: #1b9864;
  --green-50: #1fad72;
  --green-40: #2dd28d;
  --green-30: #93ecc7;
  --green-20: #bef4dd;
  --green-10: #e9fbf4;
  --cyan-100: #005580;
  --cyan-90: #069;
  --cyan-80: #0081c2;
  --cyan-70: #0092db;
  --cyan-60: #00a3f5;
  --cyan-50: #1ab3ff;
  --cyan-40: #4dc4ff;
  --cyan-30: #80d5ff;
  --cyan-20: #b3e6ff;
  --cyan-10: #e6f7ff;
  --blue-100: #00308f;
  --blue-90: #003cb3;
  --blue-80: #04c;
  --blue-70: #004de6;
  --blue-60: #05f;
  --blue-50: #1a66ff;
  --blue-40: #4d88ff;
  --blue-30: #80aaff;
  --blue-20: #b3ccff;
  --blue-10: #e6eeff;
  --grey-100: #022a3b;
  --grey-90: #333;
  --grey-80: #355562;
  --grey-70: #4d6975;
  --grey-60: #677f89;
  --grey-50: #80949d;
  --grey-40: #9aaab1;
  --grey-30: #b3bfc4;
  --grey-20: #ccd4d8;
  --grey-10: #e5e9eb;
  --grey-5: #f2f4f5;
  --grey-0: #f9fafb;
  --type-scale-10: calc(var(--typeScale-unit) * 0.75);
  --type-scale-20: calc(var(--typeScale-unit) * 0.875);
  --type-scale-30: var(--typeScale-unit);
  --type-scale-40: calc(var(--typeScale-unit) * 1.5);
  --type-scale-50: calc(var(--typeScale-unit) * 2);
  --type-scale-60: calc(var(--typeScale-unit) * 2.5);
  --type-scale-70: calc(var(--typeScale-unit) * 3);
  --type-scale-80: calc(var(--typeScale-unit) * 3.5);
  --type-scale-90: calc(var(--typeScale-unit) * 4);
  --type-scale-100: calc(var(--typeScale-unit) * 4.5);
  --color-primary: var(--brand-02);
  --color-primary-shade: var(--brand-02-shade);
  --color-secondary: var(--brand-03);
  --color-secondary-shade: var(--brand-03-shade);
  --text-01: var(--grey-100);
  --text-02: var(--grey-80);
  --text-03: var(--grey-50);
  --brand-01: #022a3b;
  --brand-01-shade: #003b54;
  --brand-02: #0af;
  --brand-02-shade: #08c;
  --brand-03: #ff5a00;
  --brand-03-shade: #e65100;
  --brand-04: #ffc200;
  --brand-04-shade: #e6af00;
  --gray-01: #677f89;
  --gray-02: #80949d;
  --gray-03: #9aaab1;
  --gray-04: #b3bfc4;
  --gray-05: #ccd4d8;
  --gray-06: #e5e9eb;
  --text-scale-000: calc(var(--typeScale-unit) * 0.75);
  --text-scale-00: calc(var(--typeScale-unit) * 0.875);
  --text-scale-0: calc(var(--typeScale-unit) * 0.75);
  --text-scale-1: var(--typeScale-unit);
  --text-scale-2: calc(var(--typeScale-unit) * 1.25);
  --text-scale-3: calc(var(--typeScale-unit) * 1.5);
  --text-scale-4: calc(var(--typeScale-unit) * 2.25);
  --text-scale-5: calc(var(--typeScale-unit) * 3);
  --text-scale-6: calc(var(--typeScale-unit) * 3.75);
  --text-scale-7: calc(var(--typeScale-unit) * 4);
  --text-scale-8: calc(var(--typeScale-unit) * 4.5);
  --u-error: #cc4752;
  --u-error-hover: #e6505c;
  --u-error-tint: #e6cfd0;
  --u-error-shade: #80131c;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif:
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    roboto,
    'Helvetica Neue',
    arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-family-monospace:
    sfmono-regular,
    menlo,
    monaco,
    consolas,
    'Liberation Mono',
    'Courier New',
    monospace;
}
